<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidessert有你甜點|填寫訂單資料</title>
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../media/css/bootstrap.css">
    <script src="../media/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="../media/css/order2.css">


</head>

<body>
    <div class="headerPage"></div>
    <picture>
        <source media="(max-width: 768px)" srcset="../media/pic/cart/order2.png">
        <img class="statement" src="../media/pic/cart/order2(2x).png">
    </picture>
    <div class="container mycontainer">
        <div class="row">
            <div class="col-12 col-md-8 mb-4">
                <form id="shippingForm">
                    <div class="card">
                        <div class="card-header topic">1.運送(宅配)</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <label for="recipient" class="form-label col-2">收件人*:</label>
                                <div class="col-10">
                                    <input type="text" id="recipient" class="form-control" required placeholder="王大明">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="code" class="form-label col-2">地址*:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="code" class="form-control" maxlength="5" required
                                        placeholder="408">
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="address" class="form-control" required
                                        placeholder="台中市西區公益路二段51號18樓">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="tel" class="form-label col-2">手機號碼*:</label>
                                <div class="col-10">
                                    <input type="tel" id="tel" class="form-control" maxlength="10" required
                                        placeholder="09xx-xxxxxx">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="email" class="form-label col-2">電子信箱*:</label>
                                <div class="col-10">
                                    <input type="email" id="email" class="form-control" maxlength="30" required
                                        placeholder="abc@gmail.com">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="arrive" class="form-label col-2">到貨日期*:</label>
                                <div class="col-10">
                                    <input type="date" id="arrive" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header topic">訂單確認</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <div class="item">總計商品數</div>
                                <div class="item">2件</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <div class="item">商品金額：</div>
                                <div class="item">$875</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <div class="item">運費：</div>
                                <div class="item">$80</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <div class="item">訂單總額：</div>
                                <div class="item">$955</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mycontainer">
        <div class="row">
            <div class="col-12 col-md-8 mb-4">
                <form id="paymentForm">
                    <div class="card">
                        <div class="card-header topic">2.付款</div>
                        <div class="card-body">
                            <div class="mb-3">
                                <p>選擇付款方式</p>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="radio" name="payment-option" id="credit-card" class="form-check-input"
                                        required onchange="togglePaymentInfo('credit-card')">
                                    <label for="credit-card" class="form-check-label">信用卡/金融簽帳卡</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="payment-option" id="cash" class="form-check-input"
                                        onchange="togglePaymentInfo('cash')">
                                    <label for="cash" class="form-check-label">貨到付款</label>
                                </div>
                            </div>
                            <div id="credit-card-info" class="payment-info mb-3" style="display: none;">
                                <div class="row mb-3">
                                    <label for="credit-number" class="form-label col-3">信用卡號碼*:</label>
                                    <div class="col-9">
                                        <input type="tel" id="credit-number" class="form-control" maxlength="16"
                                            required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="date" class="form-label col-3">有效日期*:</label>
                                    <div class="col-9">
                                        <input type="date" id="date" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="cvn" class="form-label col-3">CVN*:</label>
                                    <div class="col-2">
                                        <input type="tel" id="cvn" class="form-control" required placeholder="CVN*"
                                            maxlength="4">
                                    </div>
                                    <div class="col-7 ">
                                        <p class="fs-5 mt-3">此代碼為印於信用卡正面或背面的三位或四位數字</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mycontainer mb-3">
        <div class="row">
            <div class="col-12 col-md-8">
                <form id="invoiceForm">
                    <div class="card">
                        <div class="card-header topic ">3.索取發票</div>
                        <div class="card-body">
                            <div class="mb-3">
                                <p>發票類型</p>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="radio" name="bill-option" id="companyBill" class="form-check-input"
                                        onchange="toggleBillInfo('companyBill')">
                                    <label for="company" class="form-check-label">公司用(統編)</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="bill-option" id="cloudInvoice" class="form-check-input"
                                        onchange="toggleBillInfo('cloudInvoice')">
                                    <label for="cloudInvoice" class="form-check-label">雲端發票</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="bill-option" id="donateBill" class="form-check-input"
                                        required onchange="toggleBillInfo('donateBill')">
                                    <label for="donate" class="form-check-label">捐贈</label>
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <div id="company-bill-info" style="display: none;" class="mx-3 mb-3 row">
                                    <label for="Invoice-title" class="col-3">發票抬頭</label>
                                    <input type="text" name="" class="col-9 " id="Invoice-title">
                                    <br>
                                    <label for="VAT-number" class="col-3">統一編號*</label>
                                    <input type="text" name="" class="col-9 mt-3" id="VAT-number" required
                                        placeholder="必填">
                                </div>
                                <div id="cloud-invoice-info" style="display: none;" class="mx-3">
                                    <select id="invoiceTypeSelect" onchange="toggleCloudInfo()">
                                        <option value="phoneInvoice">手機載具</option>
                                        <option value="naturalInvoice">自然人條碼</option>
                                    </select>
                                </div>
                                <div id="phoneInfo" style="display: none;" class="mx-3">
                                    <input type="text" required placeholder="請輸入您的手機條碼">
                                </div>
                                <div id="naturalInfo" style="display: none;" class="mx-3">
                                    <input type="text" required placeholder="請輸入您的自然人條碼">
                                </div>

                                <div id="donate-bill-info" style="display: none;">
                                    <select class="mx-3">
                                        <option>聯合國NGO世界和平婦女會台灣總會</option>
                                        <option>財團法人看見台灣基金會</option>
                                        <option>財團法人台灣世界展望會</option>
                                        <option>財團法人中華民國兒童癌症基金會</option>
                                        <option>地球公民基金會</option>
                                        <option>喜憨兒基金會</option>
                                        <option>賑災基金會 (臺灣)</option>
                                        <option>關懷台灣文教基金會</option>
                                        <option>勵馨社會福利事業基金會</option>
                                        <option>彭婉如基金會</option>
                                        <option>社團法人中華民國更生少年關懷協會</option>
                                    </select>
                                </div>

                            </div>
                            <div class="mb-3 mt-3 button-group" style="text-align: center;">
                                <div class="button-row">
                                    <a href="./order1.html"><input type="button" value="返回購物車" class="my-button "></a>
                                    <a href="./order3.html"><input type="submit" onclick="parentFunction()" value="確認訂單"
                                            class="my-button"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footerPage"></div>

    <script>
        $(".headerPage").load("./nav.html");
        $(".footerPage").load("./footer.html");

        const today = new Date();
        const formattedToday = today.toISOString().split('T')[0];
        document.getElementById('arrive').min = formattedToday;


        function togglePaymentInfo(option) {
            var creditCardInfo = document.getElementById('credit-card-info');
            var cashInfo = document.getElementById('cash-info');

            if (option === 'credit-card') {
                creditCardInfo.style.display = 'block';
                cashInfo.style.display = 'none';
            } else if (option === 'cash') {
                creditCardInfo.style.display = 'none';
                cashInfo.style.display = 'block';
            }
        }

        function toggleBillInfo(option) {
            var companyBillInfo = document.getElementById('company-bill-info');
            var cloudInvoiceInfo = document.getElementById('cloud-invoice-info');
            var donateBillInfo = document.getElementById('donate-bill-info');
            var phoneInfo = document.getElementById("phoneInfo");
            var naturalInfo = document.getElementById("naturalInfo");

            if (option === 'companyBill') {
                companyBillInfo.style.display = 'block';
                cloudInvoiceInfo.style.display = 'none';
                donateBillInfo.style.display = 'none';
                phoneInfo.style.display = 'none';
                naturalInfo.style.display = 'none';

            } else if (option === 'cloudInvoice') {
                companyBillInfo.style.display = 'none';
                cloudInvoiceInfo.style.display = 'block';
                donateBillInfo.style.display = 'none';
                phoneInfo.style.display = 'none';
                naturalInfo.style.display = 'none';

            } else if (option === 'donateBill') {
                companyBillInfo.style.display = 'none';
                cloudInvoiceInfo.style.display = 'none';
                donateBillInfo.style.display = 'block';
                phoneInfo.style.display = 'none';
                naturalInfo.style.display = 'none';

            }
        }
        function toggleCloudInfo() {
            var selectElement = document.getElementById('invoiceTypeSelect');
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;

            var phoneInfo = document.getElementById('phoneInfo');
            var naturalInfo = document.getElementById('naturalInfo');

            if (selectedOption === 'phoneInvoice') {
                phoneInfo.style.display = 'block';
                naturalInfo.style.display = 'none';
            } else if (selectedOption === 'naturalInvoice') {
                phoneInfo.style.display = 'none';
                naturalInfo.style.display = 'block';
            }
        }

        function parentFunction() {
            submitForms();
            validateForm();
            validatePaymentForm()
        }

        function submitForms() {
            var shippingForm = document.getElementById('shippingForm');
            var paymentForm = document.getElementById('paymentForm');
            var invoiceForm = document.getElementById('invoiceForm');

            // 檢查每個表單的有效性
            if (shippingForm.checkValidity() && paymentForm.checkValidity() && invoiceForm.checkValidity()) {
                // 創建一個新的FormData對象來存儲所有表單數據
                var formData = new FormData();
                var shippingFormData = new FormData(shippingForm);
                var paymentFormData = new FormData(paymentForm);
                var invoiceFormData = new FormData(invoiceForm);

                // 將每個表單的數據添加到總的FormData對象中
                for (var pair of shippingFormData.entries()) {
                    formData.append(pair[0], pair[1]);
                }

                for (var pair of paymentFormData.entries()) {
                    formData.append(pair[0], pair[1]);
                }

                for (var pair of invoiceFormData.entries()) {
                    formData.append(pair[0], pair[1]);
                }

                // 使用XMLHttpRequest對象發送表單數據
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'your-server-url');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            // 請求成功處理
                            console.log('表單提交成功！');
                        } else {
                            // 請求失敗處理
                            console.log('表單提交失敗。');
                        }
                    }
                };

                xhr.send(formData);
            } else {
                // 表單數據無效，進行相應的錯誤處理
                console.log('表單數據無效，進行相應的錯誤處理。');
            }
        }

        function validateForm() {
            var recipient = document.getElementById('recipient').value;
            var code = document.getElementById('code').value;
            var address = document.getElementById('address').value;
            var tel = document.getElementById('tel').value;
            var email = document.getElementById('email').value;
            var arrive = document.getElementById('arrive').value;

            // 檢查必填字段是否為空
            if (recipient === '' || code === '' || address === '' || tel === '' || email === '' || arrive === '') {
                alert('請填寫所有必填資料。');
                return false; // 阻止表單提交
            }

            // 其他自定義驗證邏輯

            return true; // 允許表單提交
        }


        function validatePaymentForm() {
            // 檢查選擇的付款方式
            var paymentOption = document.querySelector('input[name="payment-option"]:checked');
            if (!paymentOption) {
                alert('請選擇付款方式。');
                return false; // 阻止表單提交
            }

            // 檢查信用卡付款方式的字段
            if (paymentOption.id === 'credit-card') {
                var creditNumber = document.getElementById('credit-number').value;
                var date = document.getElementById('date').value;
                var cvn = document.getElementById('cvn').value;

                if (creditNumber === '' || date === '' || cvn === '') {
                    alert('請填寫信用卡號碼、有效日期和 CVN。');
                    return false; // 阻止表單提交
                }
            }

            // 其他自定義驗證邏輯...

            return true; // 允許表單提交
        }
    </script>


    </script>

</body>

</html>