<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidessert有你甜點|歷史訂單</title>
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/css/historyOrder.css">
</head>


<body>
    <%-include('nav') %>
    <div class="mycontainer container mb-5-uni">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb fs-3">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">會員中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">歷史訂單</li>
            </ol>
        </div>
        <div class="container">
            <div class=" mb-3 text-center fz-3r">歷史訂單</div>
            <div class="p-4 row  topic">
                <div class="row">
                        <div class="col-md-6 text-center">
                            訂單編號:<%= oid%>
                        </div>
                        <div class="col-md-6 text-center">
                            訂單日期:<%= order_date%>
                        </div>
                    </div>
            </div>
        </div>
        <div class="table">
            <div class="ps-5 bigform">
                <div class="table-header row">
                    <div class="table-cell col-2 px-2">商品明细</div>
                    <div class="table-cell col-3">客製化規格</div>
                    <div class="table-cell col-3">客製化卡片</div>
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-1"></div>
                </div>
                <div class="table-row table-row1 order row">
                    <div class="table-cell col-2 px-2">
                        <div class="product-info p-10">
                            <img class="m-10" src="/pic/product/product_info1.webp" width="150px" alt="Product 1">
                            <p class="m-10 product-name p-10">客製化禮盒</p>
                        </div>
                    </div>
                    <div class="table-cell item col-4 ">
                        <li> 規格:四格</li>
                        <li>內容物:伯爵紅茶磅蛋糕,瑪德蓮,洋蔥番茄鹹餅乾(鹹),蔓越莓方餅</li>
                        <li>禮物盒:紅色紙盒</li>
                        <li>紙袋:紅色紙袋</li>
                    </div>
                    <div class="table-cell item col-3  p-0">
                        <div>你是我生命中最美麗的浪漫。愛你直到永遠！</div>
                    </div>
                    <!-- <div class="table-cell item col-1 row"> -->
                    <!-- </div> -->
                    <div class="table-cell item col-3 row">
                        <div class="table-cell item col-2 "></div>
                        <div class="table-cell item col-5 p-0">數量</div>
                        <div class="table-cell item col-5 amount m-0 p-0">
                            <span class="quantity">1</span>
                        </div>
                        <div class="row">
                            <div class="table-cell item col-2 "></div>
                            <div class="table-cell item col-5 p-0">價格</div>
                            <div class="table-cell item col-5 price m-0 p-0"> $410</div>
                        </div>
                        <div class="row">
                            <div class="table-cell item col-2 "></div>
                            <div class="table-cell item col-5 p-0">小計</div>
                            <div class="table-cell item col-5 price-total m-0 p-0"> $410</div>
                        </div>
                    </div>
                    <!-- <div class="table-cell item col-1"> -->
                    </div>
                </div>
                <div class="table-row table-row1 order row">
                    <div class="table-cell col-2">
                        <div class="product-info">
                            <img src="/pic/product/pd1_pic1.png" width="150px" alt="Product 2">
                            <p class="product-name">彤粉情人節禮盒</p>
                        </div>
                    </div>
                    <div class="table-cell item col-2 ">
                        內含點心品項 11 入，包括 2 入 法式點心、8 入手工餅乾以及脆餅 1 包
                    </div>
                    <div class="table-cell item col-3  p-0">
                    </div>
                    <div class="table-cell item col-1 row">
                    </div>
                    <div class="table-cell item col-4 row">
                        <div class="table-cell item col-1 "></div>
                        <div class="table-cell item col-5 p-0">數量</div>
                        <div class="table-cell item col-5 amount m-0 p-0">
                            <span class="quantity">1</span>
                        </div>
                        <div class="row">
                            <div class="table-cell item col-1 "></div>
                            <div class="table-cell item col-5 p-0">價格</div>
                            <div class="table-cell item col-6 price m-0 p-0"> $410</div>
                        </div>
                        <div class="row">
                            <div class="table-cell item col-1 "></div>
                            <div class="table-cell item col-5 p-0">小計</div>
                            <div class="table-cell item col-6 price-total m-0 p-0"> $410</div>
                        </div>
                    </div>
                    <div class="table-cell item col-1">
                    </div>
                </div>
                <div class="table-footer">
                    <div class="table-row table-row1 row">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">總計商品數：</div>
                        <div class="table-cell item col-2 product-amount">2件</div>
                    </div>
                    <div class="table-row table-row1 row">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">商品金額：</div>
                        <div class="table-cell item col-2 product-total">$910</div>
                    </div>
                    <div class="table-row table-row1 row">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">運費：</div>
                        <div class="table-cell item col-2 deliver-fee">$80</div>
                    </div>
                    <div class="table-row table-row1 row p-10">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">訂單總額：</div>
                        <div class="table-cell item col-2 cash-total ">$990</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('footer') %>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/script.js"> </script>
</body>

</html>