<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidesssrt</title>
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">

    <script src="../media/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="../media/css/bootstrap.css">
    <script src="../media/js/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="../media/css/product.css">

</head>

<body id="body">
    <div id="headerPage" class="page-top-position"></div>
    <figure class="topPic_container">
        <img src="../media/pic/product/product_banner.png" class="topPic" alt="dessert_picture">
    </figure>

    <section>
        <div class="row_container">
            <div class="column_container" onclick="window.open('./productInfo.html')">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd1_pic1.png" alt="cannelé">
                </div>
                <div class="productText">彤粉禮盒</div>
                <div class="productPrice">NT 768</div>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd2_pic1.png" alt="">
                </div>
                <div class="productText">湛藍禮盒</div>
                <div class="productPrice">NT 798</div>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd6_pic1.png" alt="">
                </div>
                <div class="productText">餅乾盅禮盒</div>
                <div class="productPrice">NT 938</div>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd5_pic1.png" alt="cannelé">
                </div>
                <div class="productText">星芒禮盒</div>
                <div class="productPrice">NT 890</div>
            </div>
        </div>
        <div class="row_container">
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd3_pic1.png" alt="">
                </div>
                <div class="productText">法式菱格紋禮盒</div>
                <div class="productPrice">NT 768</div>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd8_pic1.png" alt="cannelé">
                </div>
                <div class="productText">禮盒</div>
                <div class="productPrice">NT 390</div>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd4_pic1.png" alt="cannelé">
                </div>
                <div class="productText">金緻紅禮盒</div>
                <div class="productPrice">NT 938</div>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/pd7_pic1.png" alt="">
                </div>
                <div class="productText">深緋禮盒</div>
                <div class="productPrice">NT 858</div>
            </div>
        </div>
        <div id="footerPage"></div>
    </section>
    <script>
        $("#headerPage").load("./nav.html");
        $("#footerPage").load("./footer.html");
    </script>
    </a><a class="page-top" href="#">TOP</a>
</body>

</html>