<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidesssrt</title>
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">

    <script src="../media/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="../media/css/bootstrap.css">
    <script src="../media/js/script.js"></script>
    <script src="../media/js/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="../media/css/product.css">
    <link rel="stylesheet" href="../media/css/product_single.css">

</head>

<body id="body">
    <div id="headerPage" class="page-top-position"></div>
    <figure class="topPic_container">
        <img src="../media/pic/product/shop.png" class="topPic" alt="dessert_picture">
    </figure>

    <section>
        <div class="row_container">
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/green_poundcake.webp" alt="cannelé">
                </div>
                <div class="productText">蘋果樹磅蛋糕</div>
                <div class="productPrice">NT 50</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/lemon_poundcake.webp" alt="">
                </div>
                <div class="productText">伯爵茶檸檬磅蛋糕</div>
                <div class="productPrice">NT 55</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/cocomadeleine.webp" alt="">
                </div>
                <div class="productText">可可瑪德蓮</div>
                <div class="productPrice">NT 55</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/coffee_cookie.webp" alt="cannelé">
                </div>
                <div class="productText">咖啡奶酥曲奇</div>
                <div class="productPrice">NT 15</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
        </div>
        <div class="row_container">
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/bretagne.webp" alt="">
                </div>
                <div class="productText">布列塔尼酥餅</div>
                <div class="productPrice">NT 30</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/mocha.webp" alt="cannelé">
                </div>
                <div class="productText">香草抹茶沙布蕾</div>
                <div class="productPrice">NT 40</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/Hojicha_cookie.webp" alt="cannelé">
                </div>
                <div class="productText">焙茶白巧克力厚餅</div>
                <div class="productPrice">NT 30</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/chocolate_almond.webp" alt="">
                </div>
                <div class="productText">巧克力杏仁餅乾</div>
                <div class="productPrice">NT 25</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
        </div>
        <div class="row_container">
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/brown_sugar.webp" alt="">
                </div>
                <div class="productText">黑糖海鹽酥餅</div>
                <div class="productPrice">NT 29</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/chocolate_salt.webp" alt="cannelé">
                </div>
                <div class="productText">巧克力鹽之花 </div>
                <div class="productPrice">NT 40</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/cloud_cookie.webp" alt="cannelé">
                </div>
                <div class="productText">加斯科涅· 雲朵脆餅</div>
                <div class="productPrice">NT 50</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
            <div class="column_container">
                <div class="productPic_container">
                    <img class="productPic" src="../media/pic/product/cranberry_cookie.webp" alt="">
                </div>
                <div class="productText">蔓越莓方餅</div>
                <div class="productPrice">NT 40</div>
                <button class="add_to_cart_button addtocart" onclick="">加入購物車</button>
            </div>
        </div>
        <div id="footerPage"></div>
    </section>
    </a><a class="page-top" href="#">TOP</a>
    <script>
        $("#headerPage").load("./nav.html");
        $("#footerPage").load("./footer.html");
    </script>
</body>

</html>