<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後端首頁</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <style>
        body{
            /* background-color: #EADFD9; */
            background-color: #fff;
        }
        .login_container {
            width: 25%;
            position: absolute;
            top: 20%;
            left: 37%;
            display: flex;
            flex-direction: column;
            padding: 5% 4% 5% 4%;
            /* border: 2px solid #702F43; */
            border-radius: 5px;
            background-color: #EADFD9;
        }

        .login_container input {
            margin: 5% 0%;
            padding: 2% 2%;
        }

        .login_container p {
            text-align: center;
            font-size: 2rem;
            color: #702F43;
        }
    </style>
</head>

<body>
    <div class="all">
            <div class="login_container">
                <p>登入</p>
                <input type="text" placeholder="請輸入帳號">
                <input type="password" placeholder="請輸入密碼">
                <input type="submit" value="登入">
            </div>
    </div>

</body>

</html>